.icon-mobil {
    display: initial;
}

.icon-desktop {
    display: none;
}

#logo {
    position: relative;
    overflow: visible;
}

svg#logo #m {
    animation: logo-animation 2s 1s forwards;
    transform-origin: left center;
}

svg#logo #atematicas {
    animation: logo-animation-rest 2s 1s forwards;
    transform-origin: left center;
}

svg#logo g path {
    animation: drop-in 3s ease forwards;
    animation-delay: calc(var(--order) * 200ms + 2s);
    opacity: 0;
}

@keyframes logo-animation {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0) scale(1);
    }

    50% {
        transform: rotate(90deg) translate3d(-5%, -20%, 0) scale(1);
    }

    100% {
        transform: rotate(90deg) translate3d(-11%, -25%, 0) scale(1.5);

    }
}

@keyframes logo-animation-rest {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(2%, 0, 0);
    }

    100% {
        transform: translate3d(7%, 0, 0);
    }
}

@keyframes drop-in {

    0%,
    20% {
        opacity: 0;
        transform: translate3d(-6%, -20%, 0);
    }

    40% {
        transform: translate3d(-6%, 0, 0);
    }

    30%,
    100% {
        opacity: 1;
        transform: translate3d(-6%, 0, 0);
    }
}

@media screen and (min-width: 768px) {
    .icon-mobil {
        display: none;
    }

    .icon-desktop {
        display: initial;
    }
}