.section__hero--container {
    background: var(--light-fond);
    background: linear-gradient(0deg, var(--light-fond) 0%, var(--normal-fond) 50%, var(--dark-fond) 90%);
    direction: initial;
    height: 100vh;
    width: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 50%;
    }

    100% {
        background-position: 100%;
    }
}