.topics__mobile {
    width: 100%;
    height: 100vh;
    position: fixed;
    display: none;
    justify-content: flex-start;
    align-items: center;
}

.topics__mobile nav {
    width: 75%;
    height: inherit;
    padding: 70px 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#close_menu_topics {
    background: var(--purple);
    border-radius: 50%;
    cursor: pointer;
    left: 0;
    margin: 10px;
    opacity: .8;
    padding: 10px;
    position: absolute;
    transition: all .3s ease;
    top: 0;
    width: 50px;
    z-index: 1;
}

#close_menu_topics:hover {
    opacity: 1;
}

nav>ul {
    list-style: none;
    max-height: 100%;
    overflow-y: scroll;
    padding: 10px 0;
    width: 100%;
}

nav ul li a,
nav ul details summary {
    color: var(--light-blue);
    cursor: pointer;
    display: block;
    font: bold 1.6rem var(--font-roboto);
    text-decoration: none;
    padding: 5px 0;
    width: fit-content;
}

nav ul details {
    transition: all .3s ease;
}

nav ul details:not([open])>summary:after {
    color: var(--light-blue);
    content: "▶";
    display: inline-block;
    font: bold 1.5rem/1.8rem monospace;
    margin-left: 5px;
    position: absolute;
}

nav ul details[open]>summary:after {
    content: initial;
}

nav ul details[open]>summary {
    background-color: var(--light-blue);
    color: black;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

nav ul details li,
nav ul details details,
nav ul details ul li,
nav ul details ul details {
    padding-left: 20px;
    position: relative;
}

nav ul details li::before,
nav ul details details::before,
nav ul details ul li::before,
nav ul details ul details::before {
    content: "•";
    color: var(--light-blue);
    font-size: 2rem;
    left: 5px;
    top: .3rem;
    position: absolute;
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .topics__mobile nav {
        width: 50%;
        height: inherit;
    }
}

@media screen and (min-width: 1024px) {
    .topics__mobile nav {
        width: 40%;
        height: inherit;
    }
}

/* 



.topics__mobile nav ul details ul li:last-child {
    margin-bottom: 5px;
}

.topics__mobile nav ul details[open]>summary {
    background-color: var(--light-blue);
    color: black;
    border-radius: 5px;
    width: fit-content;
    margin-bottom: 10px;
}

.topics__mobile nav ul details details[open]>summary {
    background-color: var(--light-blue);
    color: black;
    border-radius: 5px;
    width: fit-content;
    margin-bottom: 10px;
    pointer-events: none;
}

details.triangle__details:not([open]) {
    height: 3.1rem;
}

details.triangle__details[open] {
    height: 315px;
}

@media screen and (max-width: 500px) {
    .topics__mobile nav {
        width: 75%;
        height: inherit;
    }

    .topics__mobile nav ul li a,
    .topics__mobile nav ul details summary {
        font-size: 1.6rem;
    }

    details.triangle__details[open] {
        height: 290px;
    }
} */