:root {
  --dark-fond: rgb(4, 0, 30);
  --normal-fond: rgb(8, 0, 57);
  --light-fond: rgb(12, 10, 80);
  --light-blue: rgba(22, 255, 226, 1);
  --blue: rgba(2, 159, 252, 1);
  --blue-hover: rgba(0, 0, 252, 1);
  --purple: rgba(153, 52, 244, 1);
  --pink: rgba(253, 0, 253, 1);
  --font-roboto: Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

::-webkit-scrollbar {
  background: black;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--light-blue);
  border: 3px solid rgba(0, 0, 0, 0);
  z-index: 100;
  position: absolute;
}

#root {
  height: 100vh;
  overflow: hidden;
  background-color: black;
}


#main {
  position: relative;
  width: 100%;
  transition: transform 0.4s ease-in-out;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-shadow: 0 0 20px rgba(22, 255, 226, 0.5);
}


.show_mobile_nav {
  transform: perspective(400px) scale(.9) translate(-50%) rotateY(10deg);
}

.show_topics_nav {
  transform: perspective(400px) scale(.9) translate(50%) rotateY(-10deg);
}

@media screen and (max-width: 500px) {
  .show_mobile_nav {
    transform: perspective(400px) scale(.9) translate(-80%) rotateY(10deg);
  }

  .show_topics_nav {
    transform: perspective(400px) scale(.9) translate(80%) rotateY(-10deg);
  }
}

details {
  transition: all .3s ease;
  overflow: hidden;
}

details[open] summary~* {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateY(-30px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

summary::marker {
  content: "";
  display: none;
}

#inicio {
  scroll-margin-block-start: 180px;
}

#inicio [id] {
  scroll-margin-block-start: 80px;
}