:root {
  --dark-fond: rgb(4, 0, 30);
  --normal-fond: rgb(8, 0, 57);
  --light-fond: rgb(12, 10, 80);
  --light-font: rgb(223, 251, 255);
  --font-roboto: Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: black;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(22, 255, 226, 1);
  border: 3px solid rgba(0, 0, 0, 0);
  z-index: 100;
  position: absolute;
}

#root {
  height: 100vh;
  overflow: hidden;
  background-color: black;
}


#main {
  position: fixed;
  width: 100%;
  transition: transform 0.4s ease-in-out;
  height: 100vh;
  overflow-y: scroll;
}


.show_movil_nav {
  transform: perspective(400px) scale(.9) translate(-50%) rotateY(10deg);
}

@media screen and (max-width: 500px) {
  .show_movil_nav {
    transform: perspective(400px) scale(.9) translate(-80%) rotateY(10deg);
  }
}

summary::marker {
  content: "";
  display: none;
}

.page__active {
  border-bottom: 2px solid rgba(22, 255, 226, 1);
  padding: 0 0 !important;
}